{
  "singleQuote": true,
  "tabWidth": 4,
  "printWidth": 120,
  "semi": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "overrides": [
    {
      "files": [".*rc", "*.json"],
      "options": {
        "printWidth": 240,
        "tabWidth": 2
      }
    }
  ]
}
